# Build
/dist/
/tmp/
build/
*.tsbuildinfo

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
/coverage/
.nyc_output

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.env
.env.local

# OS
.DS_Store
Thumbs.db

# bun
bun.lockb
